.dashboard-container {
    width: 95%;
    min-height: 100%;
}
.title-display{
    display: flex;
    flex-direction: row;
    font-size: calc(2px + 2vmin);
    /* height: 20px; */
    align-items: center;
}
#title-metric{
    margin-left: 10px;
}
#title-value{
    margin-left: auto;
}
#title-comparison{
    text-align: right;
    margin-left: 20px;
    margin-right: 10px;
    width: 13vmin;
}
.titles{
    margin-top: 20px;
    margin-bottom: 0;
}